@page "/video"

<div class="container">
	<video src="@urlVideo" width="640" height="360" controls>
		Seu browser não suporta a tag video
	</video>
	<InputFile class="mt-3" OnChange="OnChange" />
	<button class="btn btn-primary mt-3" @onclick="OnClick">Capturar Imagem</button>
</div>

@code {
	private IBrowserFile? urlVideo = null;

	private void OnChange(InputFileChangeEventArgs e)
	{
		urlVideo = e.File;
	}
	private async Task OnClick()
	{

	}
}